.primeirafrase {
    text-align-last: center;
    color: rgb(102, 102, 255);
    font-family: "Franklin Gothic Medium";
    font-size: 40px;
}

.segtexto {
    text-align-last: center;
    font-size: larger;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(0, 102, 102);
}
h2 {
    color: #666699;
    font-family: fantasy;
    font-size: 30px;
}

.logo {
  
    width: 190px; position:relative; left: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;

}
.quemsomos {

    width: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 20px 0px;
}
.pet {
    color: #074b66;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

.centralizar {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30px;
    margin-left: 3%;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}

  .redess {
    text-align-last: center;
    font-family: Impact;
    font-size: large;
    color: grey;

  } 
  .logosredes {
    display: flex;
    flex-direction: row;
}
.logosredes > div {
    width: 60px;
    text-align: center;
    position: relative;
    left: 550px;
}

  .marcareg {
      font-size: 115%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      position: absolute; bottom: auto;
  }

  .nathan {
      font-size: 110%;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      position: absolute; left: 900px; bottom: auto;
  }

  .logodagua {
      position:absolute; left: 870px;
      bottom: auto;
      width: 35%;
  }
  .sdsd {
      overflow-x: hidden;
  }
  .container {
    position: relative;
    margin-left: 3%;
    margin-right: auto;
    width: 20%;
    max-width: 50%;
    max-height: 100%;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    transition: all 0.5s ease 0s;
}
.middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease 0s;
}
.container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }

.text {
    background-color: rgb(76, 175, 80);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}